.form {
    box-shadow: 0 1px 20px 0 #455a645e;
    width: 30%;
    margin: 6% auto;
    padding: 2% 20px;
    .with{
        width: 90%;
    }
    .save {
        margin: 2% 0%;
        border: none;
        padding: 2% 7%;
        background: linear-gradient(to right, #0ac282, #0df3a3);
        color: #fff;
    }
}