*{
    margin: 0;
    padding: 0;
.screen {
    background-size: cover;
    width: 100%;
    height: 400px;
    form.list {
        margin-top: 10%;
        button.button {
            border: none;
            padding: 1%;
            background: linear-gradient(to right, #0ac282, #0df3a3);
            color: #fff;
        }
    }
}
}